################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Onion.Demo/obj
/Onion.Demo/bin
/Onion.Demo.Application/obj
/Onion.Demo.Application/bin
/Onion.Demo.Application.Contracts/obj
/Onion.Demo.Application.Contracts/bin
/Onion.Demo.Domain/obj
/Onion.Demo.Domain/bin
/Onion.Demo.Domain.Core/obj/
/Onion.Demo.Domain.Core/bin/
/Onion.Demo.Domain.Shared/obj
/Onion.Demo.Domain.Shared/bin
/Onion.Demo.Infra.Data/obj/
/Onion.Demo.Infra.Data/bin/
/Onion.Demo.Infra.EFCore/obj
/Onion.Demo.Infra.EFCore/bin
/Onion.Demo.Infra.Logging/obj/
/Onion.Demo.Infra.Logging/bin/
/Onion.Demo.Infra.Polly/obj/
/Onion.Demo.Infra.Polly/bin/
/Onion.Demo.WebApi/obj/
/Onion.Demo.WebApi/bin/
/Onion.Demo.WebApi/Onion.Demo.WebApi.csproj.user
/Onion.Demo.Application.Contract/obj
/Onion.Demo.Application.Contract/obj
